/* ActualizarDatos.css */
.actualizar-datos-container {
  display: flex;
  flex-direction: column;
}

.actualizar-datos-main-content {
  width: 100%; /* Asegúrate de que ocupe todo el ancho */
  padding: 0;
  margin: 0;
}

.actualizar-datos-top-bar {
  width: 100%; /* Asegúrate de que la barra abarque todo el ancho */
  background-color: #B40B0B;
  padding: 20px;
  text-align: left;
}

.actualizar-datos-profile-pic {
  width: 50px;
  height: 50px;
}

.actualizar-datos-top-bar h1 {
  font-size: 2rem;
  color: white;
  margin-left: 10px;
}

.actualizar-datos-option {
  width: 100%;
  height: 150px;
  border-radius: 50%;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  color: black;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actualizar-datos-option:hover {
  background-color: #f6e4e4 !important;
  color: white !important;;
  outline: none !important;
}

.actualizar-datos-option:active {
  background-color: #f6e4e4 !important;
  color: white !important;
  outline: none !important;
}

.actualizar-datos-option:focus {
  background-color: #f6e4e4 !important;
  outline: none !important;
}

.actualizar-datos-option-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.text-center div {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
}
