.contacto-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.contacto-container .sectores-mapas {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contacto-container .sector-map-contact {
  flex: 1;
  text-align: center;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contacto-container .sector-map-contact h3 {
  margin-bottom: 15px;
  color: #333;
}

.contacto-container .sector-map-contact .leaflet-container {
  border-radius: 8px;
  overflow: hidden;
}

.contacto-container .sector-contact-info {
  margin-top: 15px;
  font-size: 14px;
  text-align: left;
}

.contacto-container .sector-contact-info p {
  margin: 5px 0;
}

.contacto-container .sector-contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contacto-container .sector-contact-info a:hover {
  text-decoration: underline;
}

.contacto-container .sector-contact-info strong {
  color: #333;
}

.header-full-width {
  width: 1900px;
  height: 260px;
  align-items: center;
}
