.formulario-donacion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.formulario-donacion-main-content {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario-donacion-top-bar {
  background-color: #b40b0b;
  padding: 10px 0;
  color: white;
  text-align: center;
}

.formulario-donacion-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario-donacion-content h2 {
  margin-bottom: 20px;
  text-align: center;
}

.suscribe-form label {
  display: block;
  margin: 10px 0;
}

.suscribe-form input,
.suscribe-form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.suscribe-form .form-check {
  margin: 10px 0;
}

.suscribe-form .form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.suscribe-form button {
  width: 48%;
  padding: 10px;
  background-color: #b40b0b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.suscribe-form button:hover {
  background-color: darkred;
}

.suscribe-form .form-buttons .mr-2 {
  margin-right: 10px;
}
