/* NavbarConSubmenu.css */
.custom-navbar {
  background-color: #b40b0b;
}

.logo-navbar-con-submenu {
  height: 90px;
}

.submenu-container-navbar-con-submenu {
  position: absolute;
  background-color: #b40b0b;
  border: 1px solid #b40b0b;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 60px;
  right: 20px;
  z-index: 1000;
}

.submenu-container-navbar-con-submenu a {
  color: #b40b0b;
  text-decoration: none;
}

.submenu-container-navbar-con-submenu a:hover {
  color: #b40b0b;
}

