
.ver-citas-container {
  display: flex;
  flex-direction: column;
}

.ver-citas-main-content {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.ver-citas-top-bar {
  background-color: #B40B0B;
  padding: 10px;
  text-align: center;
}

.ver-citas-top-bar h2 {
  font-size: 24px;
}

.ver-citas-appointment-menu {
  display: flex;
  flex-direction: column;
}

.ver-citas-content {
  padding: 27px;
  flex-grow: 1;
}

.ver-citas-table {
  margin-top: 20px;
}

.ver-citas-table thead th {
  background-color: #cccecd;
  color: rgb(0, 0, 0);
}

.ver-citas-table tbody tr td {
  background-color: white;
}
